/* Bootstrap icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
/* Universal selector */
/* Font-Family*/
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Inter&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary: black;
    --secondary:rgb(250, 234,234,1);
    --alternative:rgb(105,85,85,1) ;
    --awesome:rgb(234,214,214,1)  ; 
    --background: rgba(255, 253, 253, 0.95);
    
}
body{
    font-family:'Castoro';
     /* overflow-x: auto;  */
}


a{
    transition: all .3s;
}
.navbar a:is(:hover, :focus) {
    text-decoration:underline none;
    scale: 1.2;
    background-color: var(--awesome);
    border-radius: 60%;
    color: var(--alternative);
}
.nav-link {
    color: var(--secondary);
    margin:0.5rem; 
}
/* #nav-bar {
    position: relative;
}
#nav-bar::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--secondary);
} */
#nav{
    background: #3D3535;
    background-image: url(https://i.postimg.cc/9fHMK9BJ/books-933293-1280.jpg);
    background-repeat: no-repeat;
    background-position-x:right ;
    position: relative;
    background-size: 1095px;
}

#home{
    background: #3D3535;
    text-align: center; 
    background-image: url(https://i.postimg.cc/9fHMK9BJ/books-933293-1280.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 1095px;
    /*background-color: rgba(61, 53, 53, 1);*/
    color: var(--awesome);
    /* margin-left: 20rem; */
    position: relative;
    margin-top: 0%;

}
#home::before {
    content: url('https://i.postimg.cc/wBV7QW1M/71503559-933286817027138-3322614729142173696-n-removebg-preview-1.png');
    position: absolute;
    top: 1.3rem;
    left: 12rem;
    /* filter: url(''); */
    background-color: var(--background);
    height: 36.2rem;
    width:27rem;
   
    
}

#More {

background: #F3E9E9;
}

#firstL::first-letter{
    font-size: 16rem;

}
#secondL,#thirdL{
    font-size:8rem;

}
#thirdL{
    top:-3rem;
    left: 199px;
    position: relative;
}
#about,#education,#projects{
    background-color: #FFFDFD;
}
img[alt="profile"]{
    margin-left: 60%;
   
   
}
#me{
    color:#695555;
    margin-top: 5rem;
    font-family: 'inter';
    
} 
#ED{
    border-left: 2px solid;
    padding: 0px 30px; 
    position: relative;
   cursor: pointer;
}



#projects :is(.card) {
    width: 19rem;
    
}